<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NeuroBloom.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>17</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8F53B51C8388FFE2ABB30A81F9DC5D2068E72027</string>
				<key>dateExpires</key>
				<string>12/5/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F53B51C8388FFE2ABB30A81F9DC5D2068E72027</string>
						<key>dateExpires</key>
						<string>12/5/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y885MQBBP4</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y885MQBBP4.com.neurobloom.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>Y885MQBBP4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NeuroBloom.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f2ce6d2c-b94c-46c0-9126-dec6092dd970</string>
				<key>dateExpires</key>
				<string>12/5/26</string>
				<key>name</key>
				<string>*[expo] com.neurobloom.app AppStore 2025-12-06T03:25:25.563Z</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y885MQBBP4</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
